@charset "UTF-8";
	/*
	em HTML é ID = em CSS é #
	em HTML é class = em CSS é .
	*/

body {
	background-color: rgb(222, 253, 174);
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	color: rgb(2, 152, 2);
}

h1#principal {
	text-align: center;
	background-color: green;
	color: white;
}

h2 {
	color: rgb(1, 69, 1);
}
